div {
    display: grid;
    margin: 50px auto;
}

div p {
    margin: 0 auto 30px;
    font-size: 150px;
}

span {
    display: flex;
    gap: 20px;
}

.btn {
    width: 150px;
    height: 70px;
    font-size: 24px;
    transition: 0.75s;
    border-radius: 10px;
}

.start-btn:hover {
    background-color: green;
}

.stop-btn:hover {
    background-color: red;
}

.reset-btn:hover {
    background-color: blue;
}